@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #81ecec;
}

.wrapper {
    width: 100%;
    max-width: 380px;
    background: #fff;
    border-radius: 5px;
    margin: 0 15px;
}


.wrapper .title {
    line-height: 80px;
    background: #00cec9;
    text-align: center;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 25px 25px 25px;

}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}

.wrapper form .row input:focus {
    border-color: #00cec9;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 206, 201, 0.25);
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #00cec9;
    border: 1px solid #00cec9;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


form .row input:focus {
    border-color: #00cec9;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 18, 156, 0.25);

}

.wrapper form .pass {
    margin: -8px 0 20px 0;

}

.wrapper form .pass a {
    color: #00cec9;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}


.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    background: #00cec9;
    border: 1px solid #00cec9;
    cursor: pointer;
}

.wrapper form .button input:hover {
    background: #12876f;
}


.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;

}

.wrapper form .signup-link a {
    color: #00cec9;
    font-size: 18px;
    text-decoration: none;
}

.wrapper form .signup-link a:hover {
    text-decoration: underline;
}
input:focus {
    outline: none;
    border: 1px solid #17a2a2;
    box-shadow: 0 0 4px rgba(23,162,162,0.4);
}
.form-container {
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
